body {
	
}

.attackA, .attackB, .attackGrab, .attackFinalSmash {
	font-weight: bold;
}

.attackA {
	color: #3FDBB7;
}

.attackB {
	color: #FF6363;
}

.attackGrab {
	color: #9357FF;
}

.attackFinalSmash {
	color: #;
}

/* Character select */

.chrSelection {
	display: block;
}

.selectbox-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 0px;
	width: 810px;
	border: 2px solid black;
}

.selectbox-character, .selectbox-character img {
	height: 63px;
}

.marioSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Mario.png");
}

.luigiSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Luigi.png");
}

.peachSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Peach.png");
}

.bowserSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Bowser.png");
}

.yoshiSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Yoshi.png");
}

.warioSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Wario.png");
}

.waluigiSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Waluigi.png");
}

.dkSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/DonkeyKong.png");
}

.linkSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Link.png");
}

.zeldaSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Zelda.png");
}

.sheikSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Sheik.png");
}

.ganonSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Ganondorf.png");
}

.pikachuSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Pikachu.png");
}

.puffSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Jigglypuff.png");
}

.pichuSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Pichu.png");
}

.lucarioSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Lucario.png");
}

.kirbySel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Kirby.png");
}

.mkSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/MetaKnight.png");
}

.deeSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/BandanaDee.png");
}

.foxSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Fox.png");
}

.falcoSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Falco.png");
}

.krystalSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Krystal.png");
}

.samusSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Samus.png");
}

.zssSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/ZeroSuitSamus.png");
}

.captainSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/CaptainFalcon.png");
}

.nessSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Ness.png");
}

.marthSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Marth.png");
}

.pitSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Pit.png");
}

.isaacSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Isaac.png");
}

.chibiSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/ChibiRobo.png");
}

.gnwSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/MrGameAndWatch.png");
}

.sonicSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Sonic.png");
}

.tailsSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Tails.png");
}

.megaSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/MegaMan.png");
}

.ryuSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Ryu.png");
}

.pacSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/PacMan.png");
}

.lloydSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Lloyd.png");
}

.simonSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Simon.png");
}

.bomberSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Bomberman.png");
}

.mageSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/BlackMage.png");
}

.soraSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Sora.png");
}

.raymanSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Rayman.png");
}

.gokuSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Goku.png");
}

.luffySel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Luffy.png");
}

.narutoSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Naruto.png");
}

.ichigoSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Ichigo.png");
}

.sandSel {
	background-image: url("../../img/superSmashFlash2/portraits/chrSelect/Sandbag.png");
}