body {
	background-image: url("../../img/antinomyOfCommonFlowers/background.webp");
}

.attack {
	
}

/* Character select */

.reimuSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/ReimuHakurei.png");
}

.marisaSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/MarisaKirisame.png");
}

.ichirinSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/IchirinKumoi.png");
}

.nitoriSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/NitoriKawashiro.png");
}

.futoSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/MononobeNoFuto.png");
}

.byakurenSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/HijiriByakuren.png");
}

.kokoroSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/HataNoKokoro.png");
}

.mikoSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/ToyosatomimiNoMiko.png");
}

.koishiSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/KoishiKomeiji.png");
}

.kasenSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/KasenIbaraki.png");
}

.mokouSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/FujiwaraNoMokou.png");
}

.mamizouSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/MamizouFutatsuiwa.png");
}

.shinmySel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/ShinmyoumaruSukuna.png");
}

.reisenSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/ReisenUdongeinInaba.png");
}

.doremySel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/DoremySweet.png");
}

.sumirekoSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/SumirekoUsami.png");
}

.tenshiSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/TenshiHinanawi.png");
}

.joonSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/JoonYorigami.png");
}

.yukariSel {
	background-image: url("../../img/antinomyOfCommonFlowers/portraits/chrSelect/YukariYakumo.png");
}