body {
	background-image: url("../../img/skullgirls/background.png");
}

.attack {
	
}

/* Character select */

main {
	padding-bottom: 0px;
}

.chrSelection {
	display: block;
	padding-bottom: 0px;
}

.selectbox-container {
	width: 738px;
	height: 1080px;
	background-image: url("../../img/characterSelect/sg/Layout_background.webp");
}

.selectbox-container a {
	display: block;
	transition: none;
}

.selectbox-container a:hover {
	transform: none;
}

.selectbox-element {
	position: relative;
	width: 0px;
	height: 0px;
}

.selectbox-element a, .selectbox-character {
	width: 102px;
	height: 105px;
}

.selectbox-overlay {
	pointer-events: none;
}

.filiaSel:hover img {
	content: url("../../img/characterSelect/sg/Filia_icon_selected.webp");
}

.bellaSel:hover img {
	content: url("../../img/characterSelect/sg/Cerebella_icon_selected.webp");
}

.peacockSel:hover img {
	content: url("../../img/characterSelect/sg/Peacock_icon_selected.webp");
}

.parasoulSel:hover img {
	content: url("../../img/characterSelect/sg/Parasoul_icon_selected.webp");
}

.fortuneSel:hover img {
	content: url("../../img/characterSelect/sg/Ms._Fortune_icon_selected.webp");
}

.painSel:hover img {
	content: url("../../img/characterSelect/sg/Painwheel_icon_selected.webp");
}

.valentineSel:hover img {
	content: url("../../img/characterSelect/sg/Valentine_icon_selected.webp");
}

.doubleSel:hover img {
	content: url("../../img/characterSelect/sg/Double_icon_selected.webp");
}

.squiglySel:hover img {
	content: url("../../img/characterSelect/sg/Squigly_icon_selected.webp");
}

.bandSel:hover img {
	content: url("../../img/characterSelect/sg/Big_Band_icon_selected.webp");
}

.elizaSel:hover img {
	content: url("../../img/characterSelect/sg/Eliza_icon_selected.webp");
}

.fukuaSel:hover img {
	content: url("../../img/characterSelect/sg/Fukua_icon_selected.webp");
}

.beowulfSel:hover img {
	content: url("../../img/characterSelect/sg/Beowulf_icon_selected.webp");
}

.rFortuneSel:hover img {
	content: url("../../img/characterSelect/sg/Robo-Fortune_icon_selected.webp");
}

.annieSel:hover img {
	content: url("../../img/characterSelect/sg/Annie_icon_selected.webp");
}

.umbrellaSel:hover img {
	content: url("../../img/characterSelect/sg/Umbrella_icon_selected.webp");
}

.dahliaSel:hover img {
	content: url("../../img/characterSelect/sg/Black_Dahlia_icon_selected.webp");
}

.marieSel:hover img {
	content: url("../../img/characterSelect/sg/Marie_icon_selected.webp");
}

.randomSel:hover img {
	content: url("../../img/characterSelect/sg/Random_icon_selected.webp");
}