body {
	background-image: url("../../img/dnfDuel/background.png");
}

.attack {
	
}

/* Character select sizing */

.berserkSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Berserker.png");
}

.vanguardSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Vanguard.png");
}

.strikerSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Striker.png");
}

.grapplerSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Grappler.png");
}

.rangerSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Ranger.png");
}

.launcherSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Launcher.png");
}

.inquisitorSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Inquisitor.png");
}

.crusaderSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Crusader.png");
}

.swiftSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/SwiftMaster.png");
}

.enchantSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Enchantress.png");
}

.kunoichiSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Kunoichi.png");
}

.ghostSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Ghostblade.png");
}

.hitmanSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Hitman.png");
}

.troubleSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/TroubleShooter.png");
}

.dragonSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/DragonKnight.png");
}

.lostSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/LostWarrior.png");
}

.spectreSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Spectre.png");
}

.brawlerSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Brawler.png");
}

.mageSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/BattleMage.png");
}

.monkSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/Monk.png");
}

.nenSel {
	background-image: url("../../img/dnfDuel/portraits/chrSelect/NenMaster.png");
}