body {
	background-image: url("../../img/rivalsOfAether/background.png");
}

.attack {
	
}

/* Character select */

.zetterSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Zetterburn.png");
}

.orcaneSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Orcane.png");
}

.wrastorSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Wrastor.png");
}

.kraggSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Kragg.png");
}

.forsburnSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Forsburn.png");
}

.maypulSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Maypul.png");
}

.absaSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Absa.png");
}

.etalusSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Etalus.png");
}

.rannoSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Ranno.png");
}

.clairenSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Clairen.png");
}

.sylvanosSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Sylvanos.png");
}

.ellianaSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Elliana.png");
}

.oriSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/OriAndSein.png");
}

.shovelSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/ShovelKnight.png");
}

.molloSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Mollo.png");
}

.hodanSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Hodan.png");
}

.pommeSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Pomme.png");
}

.olympiaSel {
	background-image: url("../../img/rivalsOfAether/portraits/chrSelect/Olympia.png");
}