body {
	background-image: url("../../img/multiversus/background.png");
}

.attack {
	
}

/* Character select */

.wonderSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/WonderWoman.png");
}

.tomSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/TomAndJerry.png");
}

.supermanSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/Superman.png");
}

.stevenSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/StevenUniverse.png");
}

.shaggySel {
	background-image: url("../../img/multiversus/portraits/chrSelect/ShaggyRogers.png");
}

.reindogSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/Reindog.png");
}

.jakeSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/JakeTheDog.png");
}

.harleySel {
	background-image: url("../../img/multiversus/portraits/chrSelect/HarleyQuinn.png");
}

.garnetSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/Garnet.png");
}

.finnSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/FinnTheHuman.png");
}

.bugsSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/BugsBunny.png");
}

.batmanSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/Batman.png");
}

.aryaSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/AryaStark.png");
}

.velmaSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/VelmaDinkley.png");
}

.tazSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/TasmanianDevil.png");
}

.giantSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/TheIronGiant.png");
}

.lebronSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/LeBronJames.png");
}

.mortySel {
	background-image: url("../../img/multiversus/portraits/chrSelect/MortySmith.png");
}

.rickSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/RickSanchez.png");
}

.stripeSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/Stripe.png");
}

.adamSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/BlackAdam.png");
}

.gizmoSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/Gizmo.png");
}

.marvinSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/MarvinTheMartian.png");
}

.bananaSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/BananaGuard.png");
}

.jasonSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/JasonVoorhees.png");
}

.jokerSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/Joker.png");
}

.smithSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/AgentSmith.png");
}

.jackSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/SamuraiJack.png");
}

.beetleSel {
	background-image: url("../../img/multiversus/portraits/chrSelect/Beetlejuice.png");
}