body {
	background-image: url("../../img/underNightInBirthII/background.jpg");
}

.attack {
	
}

/* Character select */

.hydeSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Hyde.png");
}

.linneSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Linne.png");
}

.waldsteinSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Waldstein.png");
}

.carmineSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Carmine.png");
}

.orieSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Orie.png");
}

.gordeauSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Gordeau.png");
}

.merkavaSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Merkava.png");
}

.vatistaSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Vatista.png");
}

.sethSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Seth.png");
}

.yuzurihaSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Yuzuriha.png");
}

.hildaSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Hilda.png");
}

.chaosSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Chaos.png");
}

.nanaseSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Nanase.png");
}

.byakuyaSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Byakuya.png");
}

.phononSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Phonon.png");
}

.mikaSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Mika.png");
}

.wagnerSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Wagner.png");
}

.enkiduSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Enkidu.png");
}

.drekiaSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Londrekia.png");
}

.tsurugiSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Tsurugi.png");
}

.kaguyaSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Kaguya.png");
}

.kuonSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Kuon.png");
}

.uzukiSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Uzuki.png");
}

.eltnumSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Eltnum.png");
}

.akatsukiSel {
	background-image: url("../../img/underNightInBirthII/portraits/chrSelect/Akatsuki.png");
}