body {
	
}

.attackA, .attackB, .attackGrab, .attackFinalSmash {
	font-weight: bold;
}

.attackA {
	color: #3FDBB7;
}

.attackB {
	color: #FF6363;
}

.attackGrab {
	color: #9357FF;
}

.attackFinalSmash {
	color: #;
}

/* Character select */

.marioSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Mario.png");
}

.luigiSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Luigi.png");
}

.peachSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Peach.png");
}

.toadSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Toad.png");
}

.drMarioSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/DrMario.png");
}

.bowserSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Bowser.png");
}

.goombaSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Goomba.png");
}

.peteySel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/PeteyPiranha.png");
}

.yoshiSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Yoshi.png");
}

.dkSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/DonkeyKong.png");
}

.warioSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Wario.png");
}

.waluigiSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Waluigi.png");
}

.ashleySel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Ashley.png");
}

.genoSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Geno.png");
}

.linkSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Link.png");
}

.dLinkSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/DarkLink.png");
}

.ganonSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Ganondorf.png");
}

.tingleSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Tingle.png");
}

.tLinkSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/ToonLink.png");
}

.pikachuSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Pikachu.png");
}

.puffSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Jigglypuff.png");
}

.mewtwoSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Mewtwo.png");
}

.pichuSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Pichu.png");
}

.scizorSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Scizor.png");
}

.heracrossSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Heracross.png");
}

.lucarioSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Lucario.png");
}

.snivySel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Snivy.png");
}

.marthSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Marth.png");
}

.samusSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Samus.png");
}

.ridleySel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Ridley.png");
}

.kirbySel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Kirby.png");
}

.mkSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/MetaKnight.png");
}

.gooeySel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Gooey.png");
}

.foxSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Fox.png");
}

.falcoSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Falco.png");
}

.krystalSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Krystal.png");
}

.nessSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Ness.png");
}

.lucasSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Lucas.png");
}

.porkySel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Porky.png");
}

.captainSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/CaptainFalcon.png");
}

.iciesSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/IceClimbers.png");
}

.gnwSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/MrGameAndWatch.png");
}

.olimarSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Olimar.png");
}

.robSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/ROB.png");
}

.macSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/LittleMac.png");
}

.huntSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/DuckHuntDog.png");
}

.riderSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/MachRider.png");
}

.sakiSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Saki.png");
}

.sukaSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Sukapon.png");
}

.balloonSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/BalloonFighter.png");
}

.sonicSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Sonic.png");
}

.tailsSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Tails.png");
}

.knucklesSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Knuckles.png");
}

.shadowSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Shadow.png");
}

.ristarSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Ristar.png");
}

.mageSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/BlackMage.png");
}

.snakeSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Snake.png");
}

.bomberSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Bomberman.png");
}

.megaSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/MegaMan.png");
}

.ryuSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Ryu.png");
}

.chunSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/ChunLi.png");
}

.eRyuSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/EvilRyu.png");
}

.wrightSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/PhoenixWright.png");
}

.danteSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Dante.png");
}

.pacSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/PacMan.png");
}

.klonoaSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Klonoa.png");
}

.agumonSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Agumon.png");
}

.patamonSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Patamon.png");
}

.banjoSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/BanjoAndKazooie.png");
}

.crashSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Crash.png");
}

.raymanSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Rayman.png");
}

.tetrisSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Tetromino.png");
}

.shantaeSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Shantae.png");
}

.nShantaeSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/NegaShantae.png");
}

.gokuSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Goku.png");
}

.vegetaSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Vegeta.png");
}

.weegeeSel {
	background-image: url("../../img/superSmashBrosCrusade/portraits/chrSelect/Weegee.png");
}