body {
	background-image: url("../../img/idolShowdown/background.png");
}

/* Character select */

.fubukiSel {
	background-image: url("../../img/idolShowdown/portraits/chrSelect/ShirakamiFubuki.png");
}

.koroneSel {
	background-image: url("../../img/idolShowdown/portraits/chrSelect/InugamiKorone.png");
}

.suiseiSel {
	background-image: url("../../img/idolShowdown/portraits/chrSelect/HoshimachiSuisei.png");
}

.soraSel {
	background-image: url("../../img/idolShowdown/portraits/chrSelect/TokinoSora.png");
}

.botanSel {
	background-image: url("../../img/idolShowdown/portraits/chrSelect/ShishiroBotan.png");
}

.cocoSel {
	background-image: url("../../img/idolShowdown/portraits/chrSelect/KiryuCoco.png");
}

.ayameSel {
	background-image: url("../../img/idolShowdown/portraits/chrSelect/NakiriAyame.png");
}

.akiSel {
	background-image: url("../../img/idolShowdown/portraits/chrSelect/AkiRosenthal.png");
}

.pekoraSel {
	background-image: url("../../img/idolShowdown/portraits/chrSelect/UsadaPekora.png");
}

.ollieSel {
	background-image: url("../../img/idolShowdown/portraits/chrSelect/KureijiOllie.png");
}

.inaSel {
	background-image: url("../../img/idolShowdown/portraits/chrSelect/NinomaeInanis.png");
}