@font-face {
	font-family: "VCR";
	src: url("../../fonts/VCR_OSD_MONO_1.001.ttf");
}

body {
	background-image: url("../../img/amongUsArenaUltimate/background.png");
	font-family: "VCR";
}

.pageLinks {
	font-weight: normal;
}

p, main ul, .moveInput {
	font-size: 20px;
}

.inputImage {
	top: 6px;
}

#inputExpand {
	font-family: "VCR";
	font-size: 16px;
}

.attackL, .attackH, .attackK, .attackG, .attackS, .attackEX, .attackSuper {
	font-weight: bold;
}

h5 {
	font-size: 20px;
}

.attack {
	
}

/* Character select */

.chrPreview {
	height: 80px;
	border: 2px solid black;
	border-radius: 4px;
	outline: 6px solid black;
	outline-offset: -6px;
}
.chrPreview:hover {
	background-color: currentcolor;
}

.chrPreview div {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.92));
}

.chrPreview div span {
	font-size: 18px;
}

.colorRed {
	color: #C71211;
	background-color: #C71211;
}

.colorBlue {
	color: #132FD3;
	background-color: #132FD3;
}

.colorGreen {
	color: #10802E;
	background-color: #10802E;
}

.colorPink {
	color: #EF55BB;
	background-color: #EF55BB;
}

.colorOrange {
	color: #EF7D0D;
	background-color: #EF7D0D;
}

.colorYellow {
	color: #F7F758;
	background-color: #F7F758;
}

.colorBlack {
	color: #3F484F;
	background-color: #3F484F;
}

.colorWhite {
	color: #D5E1F1;
	background-color: #D5E1F1;
}

.colorPurple {
	color: #6B2FBD;
	background-color: #6B2FBD;
}

.colorBrown {
	color: #70491E;
	background-color: #70491E;
}

.colorCyan {
	color: #39FFDE;
	background-color: #39FFDE;
}

.colorLime {
	color: #4FF039;
	background-color: #4FF039;
}

.colorTan {
	color: #908975;
	background-color: #908975;
}

.colorRose {
	color: #E9C0D3;
	background-color: #E9C0D3;
}

.colorBanana {
	color: #FFFFBB;
	background-color: #FFFFBB;
}

.colorMaroon {
	color: #6A293B;
	background-color: #6A293B;
}

.colorGrey {
	color: #8497A7;
	background-color: #8497A7;
}

.colorCoral {
	color: #EC7579;
	background-color: #EC7579;
}

.colorOlive {
	color: #607218;
	background-color: #607218;
}

.colorMint {
	color: #BBF0B8;
	background-color: #BBF0B8;
}

.colorChocolate {
	color: #392C1E;
	background-color: #392C1E;
}

.colorTeal {
	color: #479A91;
	background-color: #479A91;
}

.colorFlame {
	color: #E43E08;
	background-color: #E43E08;
}

.colorNavy {
	color: #1B2A58;
	background-color: #1B2A58;
}

.colorGold {
	color: #FFC84E;
	background-color: #FFC84E;
}

.colorSky {
	color: #91C8FA;
	background-color: #91C8FA;
}

.colorApricot {
	color: #FFD8B2;
	background-color: #FFD8B2;
}

.colorLavender {
	color: #7D7EA9;
	background-color: #7D7EA9;
}

.colorChartreuse {
	color: #C3F003;
	background-color: #C3F003;
}

.colorEggplant {
	color: #6E4A61;
	background-color: #6E4A61;
}

.colorFortegreen {
	color: #1D9853;
	background-color: #1D9853;
}

.colorUndefined {
	color: #FF0000;
	background-color: #FF0000;
}
/* Also #0000FF & #01FF30 */

.colorCharcoal {
	color: #3D4053;
	background-color: #3D4053;
}
/* Also #E92646 */