body {
	background-image: url("../../img/meltyBloodTypeLumina/background.jpg");
}

.attack {
	
}

/* Character select */

.arcSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/ArcueidBrunestud.png");
}

.cielSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/Ciel.png");
}

.akihaSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/AkihaTohno.png");
}

.maidsSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/HisuiAndKohaku.png");
}

.shikiSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/ShikiTohno.png");
}

.koumaSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/KoumaKishima.png");
}

.noelSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/Noel.png");
}

.vlovSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/VlovArkhangel.png");
}

.roaSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/MichaelRoaValdamjong.png");
}

.miyakoSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/MiyakoArima.png");
}

.hisuiSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/Hisui.png");
}

.kohakuSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/Kohaku.png");
}

.rArcSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/RedArcueid.png");
}

.saberSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/ArtoriaPendragon.png");
}

.danSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/DeadApostleNoel.png");
}

.aokoSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/AokoAozaki.png");
}

.pCielSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/PoweredCiel.png");
}

.marioSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/MarioGalloBestino.png");
}

.necoSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/NecoArc.png");
}

.mashSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/MashKyrielight.png");
}

.ushiSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/Ushiwakamaru.png");
}

.edmondSel {
	background-image: url("../../img/meltyBloodTypeLumina/portraits/chrSelect/EdmondDantes.png");
}