body {
	background-image: url("../../img/guiltyGearPlusR/background.png");
}

.attack {
	
}

/* Character select sizing */

.solSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/SolBadguy.png");
}

.kySel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/KyKiske.png");
}

.maySel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/May.png");
}

.milliaSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/MilliaRage.png");
}

.eddieSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/Eddie.png");
}

.potSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/Potemkin.png");
}

.chippSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/ChippZanuff.png");
}

.faustSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/Faust.png");
}

.axlSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/AxlLow.png");
}

.baikenSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/Baiken.png");
}

.anjiSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/AnjiMito.png");
}

.venomSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/Venom.png");
}

.johnnySel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/Johnny.png");
}

.jamSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/JamKuradoberi.png");
}

.kliffSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/KliffUndersn.png");
}

.testaSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/Testament.png");
}

.dizzySel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/Dizzy.png");
}

.justiceSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/Justice.png");
}

.bridgetSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/Bridget.png");
}

.slayerSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/Slayer.png");
}

.zappaSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/Zappa.png");
}

.iNoSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/INo.png");
}

.rKySel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/RoboKy.png");
}

.abaSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/ABA.png");
}

.oSolSel {
	background-image: url("../../img/guiltyGearPlusR/portraits/chrSelect/OrderSol.png");
}